html,body{
	font-family: 'Merriweather', sans-serif;
}

p{
	font-family: 'Merriweather', sans-serif;
}

.navbar-site {
  margin-bottom: 19px;
  height: 80px;
  background-color: #FFF;
  border-color: transparent;
}

#navbar {
	padding-top: 20px;
	color: white !important;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}

nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #FFF;
}

.content{
    padding: 0px 0px;
}


.title-content{
	color: #18436d;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #ceb942 url("../imgs/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

footer{
	padding: 30px 0px;
}

.footer-ubicacion{
	line-height: 0.5em;
}

.footer-ubicacion .title{
	color: #ceb942;
}

.footer-ubicacion p{
	color: #777;
}

.footer-ubicacion hr{
    border-color: #777;
}

#navbar{
	background-color: #0080c7;;
}

.home-title{

}

.home-title h1{
  font-size: 3em;
  line-height: 1em; 
}

.home-content{
  max-width: 100%;
}

.grid-gallery{
  padding: 0px 5px;
}

.grid-gallery-entry{
  border: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

.proyecto.desc{
    background-color: #FFF;
    margin-top: -65px;
    color: #000;
    opacity: 0.9;
    padding: 8px;
    position: absolute;
    width: 100%;
}

.proyecto.desc .desc_tittle{
	color: #2b2b29;
	font-size: 1.1em;
}

.proyecto.desc .desc_content{
	color: #8c8c8c;
	font-size: 0.75em;
	margin-top: -10px;
}

.img-proyecto{
	padding: 10px 0px;
}

.proyecto-interno{
  margin:0 auto;
  max-width: 1000px;
  padding: 0px 15px;
}

.proyecto-interno h2{
  color: #0080c7;
}

.proyecto-interno-cliente{
  color: #8c8c8c;
  margin-top: -10px;
}

.noticia.desc{
    background-color: #FFF;
    color: #000;
    opacity: 0.9;
    padding: 8px;
    width: 100%;
}

.noticia.desc .desc_tittle{
  color: #2b2b29;
  font-size: 1.1em;
}

.noticia.desc .desc_content{
  color: #8c8c8c;
  font-size: 0.75em;
  margin-top: -10px;
}

.back-element{
  padding: 20px 0px;
}

.back-element a{
  text-decoration: none;
}

.back-element p{
  word-spacing: 0.8em;
}

.content-nosotros .titulos {
    margin-bottom: 30px; }
    .content-nosotros .titulos ul {
      padding: 0; }
      .content-nosotros .titulos ul li {
        list-style: none; }
        .content-nosotros .titulos ul li a {
          text-decoration: none;
          color: lightgray;
          font-size: 3.5em;
          transition: 0.3s; }
          .content-nosotros .titulos ul li a:hover {
            color: #0080c7; }
        .content-nosotros .titulos ul li .active {
          color: #0080c7; }
  .content-nosotros .contenido {
    font-size: 1.5em; }
    .content-nosotros .contenido p {
      color: #878787; }
  @media (max-width: 450px) {
  	.content-nosotros .titulos ul li a {
  		font-size: 2.5em;
  	}
    .content-nosotros .contenido {
      font-size: 1.2em; } }

.content-box {
  padding: 2px;
  overflow: hidden; }
  .content-box a {
    width: 100%; }
    .content-box a img {
      width: 100%;
      transition: 0.2s; }
      .content-box a img:hover {
        /*transform: scale(1.2); }*/
    }


.content-contacto h2{
	color: #0080c7;
	font-size: 3.5em;
}
.contacto-info{
	padding-top: 40px;
}
.contacto-icon a{
  text-decoration: none;
  font-size: 1.6em !important;
  color: #0080c7 !important; }
.contacto-entry{
	padding: 10px 0px;
}
.contacto-entry a {
  text-decoration: none;
  color: #999999;
  font-size: 1.2em; 
}


.footer-social ul {
	overflow: auto;
}

.footer-social ul li {
	list-style-type: none;
	float: left;
}

.footer-social ul li a i {
	background: #205D7A;
	color: #fff;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	font-size: 22px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}

@media (min-width: 450px) {
	.footer-social{
		margin-top: -15px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #navbar{
    background-color: transparent;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-default .navbar-nav>li>a{
    color: #b8b8b8;
  }

  nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
      color: #0080c7;
  }

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
      color: #0080c7;
      background-color: transparent;
  }

  .home-title h1{
    font-size: 5em;
    line-height: 1em; 
  }

  .home-content{
    max-width: 80%;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
